backend:
  name: git-gateway
  repo: dominiquemb/aaadelivery
  branch: master # Branch to update (optional; defaults to master)

# These lines should *not* be indented
media_folder: "public/images" # Media files will be stored in the repo under static/images/uploads
public_folder: "/images" # The src attribute for uploaded media will begin with /images/uploads
collections:
  - name: "pages"
    label: "pages"
    folder: "_content/pages"
    fields:
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Body", name: "body", widget: "markdown"}

