backend:
  name: git-gateway
  repo: dominiquemb/aaadelivery
  branch: main # Branch to update (optional; defaults to master)

# These lines should *not* be indented
media_folder: "public/images" # Media files will be stored in the repo under static/images/uploads
public_folder: "/images" # The src attribute for uploaded media will begin with /images/uploads

collections:
  - name: "Home" # Used in routes, e.g., /admin/collections/blog
    extension : "json"
    format : "json" 
    label: "Home page" # Used in the UI
    folder: "pages/home" # The path to the folder where the documents are stored
    create: true # Allow users to create new documents in this collection
    slug: "{{slug}}" # Filename template, e.g., YYYY-MM-DD-title.md
    fields: # The fields for each document, usually in front matter
      - {label: "Title", name: "title", required: false , widget: "string"}
      - {label: "Top video" , name: "video" , required: false , widget: "file"}
      - {label: "Subtitle", name: "subtitle", required: false , widget: "string"}
      - {label: "Middle Title", name: "middle title", required: false , widget: "string"}
      - {label: "Middle Subtitle", name: "middle subtitle", required: false , widget: "string"}

      #---------------------------------

      - {label: "Screen 2 Left image", name: "l2img", required: false , widget: "image"}
      - {label: "Screen 2 Left Title", name: "l2title", required: false , widget: "string"}
      - {label: "Screen 2 Left Subtitle", name: "l2sbtitle", required: false , widget: "string"}
      - {label: "Screen 2 Left Content", name: "l2content", required: false , widget: "markdown"}


      - {label: "Screen 2 Center image", name: "c2img", required: false , widget: "image"}
      - {label: "Screen 2 Center Title", name: "c2title", required: false , widget: "string"}
      - {label: "Screen 2 Center Subtitle", name: "c2sbtitle", required: false , widget: "string"}
      - {label: "Screen 2 Center Content", name: "c2content", required: false , widget: "markdown"}


      - {label: "Screen 2 Right image", name: "r2img", required: false , widget: "image"}
      - {label: "Screen 2 Right Title", name: "r2title", required: false , widget: "string"}
      - {label: "Screen 2 Right Subtitle", name: "r2sbtitle", required: false , widget: "string"}
      - {label: "Screen 2 Right Content", name: "r2content", required: false , widget: "markdown"}


      #---------------------------------

      - {label: "Top Semi circle text", name: "topsmtext", required: false , widget: "string"}
      - {label: "Blue zone top text", name: "blueTopText", required: false , widget: "markdown"}


      - label: "Paragraph with image" 
        name: "paragraphs"
        widget: "list"
        summary: '{{fields.title}}'
        fields:
          - label: "paragraphs with image"
            name: "pgimg"
            widget: "object"
            fields:
              - {label: "Paragraph Image", name: "thumbnail", required: false , widget: "image"}
              - {label: "Paragraph Title" , name: "title", required: false , widget: "string"}
              - {label: "Paragraph Content" , name: "content", required: false , widget: "markdown" }

      - {label: "Bottom text", name: "bottomtext", required: false , widget: "markdown"}

      - {label: "Botttom Left Image", name: "blimage", required: false , widget: "image"}
      - {label: "Botttom Center Image", name: "bcimage", required: false , widget: "image"}
      - {label: "Botttom Right Image", name: "brimage", required: false , widget: "image"}
      - {label: "Bottom Semi circle text", name: "bottomsmtext", required: false , widget: "string"}
  
  - name: "What-we-offer" # Used in routes, e.g., /admin/collections/blog
    extension : "json"
    format : "json" 
    label: "What-we-offer-page" # Used in the UI
    folder: "pages/WhatWeOffer" # The path to the folder where the documents are stored
    create: true # Allow users to create new documents in this collection
    slug: "{{slug}}" # Filename template, e.g., YYYY-MM-DD-title.md
    fields: # The fields for each document, usually in front matter
      - {label: "Title", name: "title", required: false , widget: "string"}
      - {label: "Top video" , name: "video" , required: false , widget: "file"}
      - {label: "Subtitle", name: "subtitle", required: false , widget: "string"}
      - {label: "Middle Title", name: "middle title", required: false , widget: "string"}
      - {label: "Middle Subtitle", name: "middle subtitle", required: false , widget: "string"}
      
      #---------------------------------

      - {label: "Screen 2 Left image", name: "l2img", required: false , widget: "image"}
      - {label: "Screen 2 Left Title", name: "l2title", required: false , widget: "string"}
      - {label: "Screen 2 Left Subtitle", name: "l2sbtitle", required: false , widget: "string"}
      - {label: "Screen 2 Left Content", name: "l2content", required: false , widget: "markdown"}


      - {label: "Screen 2 Center image", name: "c2img", required: false , widget: "image"}
      - {label: "Screen 2 Center Title", name: "c2title", required: false , widget: "string"}
      - {label: "Screen 2 Center Subtitle", name: "c2sbtitle", required: false , widget: "string"}
      - {label: "Screen 2 Center Content", name: "c2content", required: false , widget: "markdown"}


      - {label: "Screen 2 Right image", name: "r2img", required: false , widget: "image"}
      - {label: "Screen 2 Right Title", name: "r2title", required: false , widget: "string"}
      - {label: "Screen 2 Right Subtitle", name: "r2sbtitle", required: false , widget: "string"}
      - {label: "Screen 2 Right Content", name: "r2content", required: false , widget: "markdown"}


      #---------------------------------

      - {label: "Top Semi circle text", name: "topsmtext", required: false , widget: "string"}
      
      #---------------------------------
      - {label: "Blue zone top text", name: "blueTopText", required: false , widget: "markdown"}
      - label: "Paragraph with image" 
        name: "paragraphs"
        widget: "list"
        summary: '{{fields.title}}'
        fields:
          - label: "paragraphs with image"
            name: "pgimg"
            widget: "object"
            fields:
              - {label: "Paragraph Image", name: "thumbnail", required: false , widget: "image"}
              - {label: "Paragraph Title" , name: "title", required: false , widget: "string"}
              - {label: "Paragraph Content" , name: "content", required: false , widget: "markdown" }
      - {label: "Blue zone bottom text", name: "blueBottomText", required: false , widget: "markdown"}

      - {label: "Botttom Left Image", name: "blimage", required: false , widget: "image"}
      - {label: "Botttom Center Image", name: "bcimage", required: false , widget: "image"}
      - {label: "Botttom Right Image", name: "brimage", required: false , widget: "image"}

      - {label: "Bottom Semi circle text", name: "bottomsmtext", required: false , widget: "string"}
  

  #----------------------------------------------------------------------------------------
  - name: "Delivery" # Used in routes, e.g., /admin/collections/blog
    extension : "json"
    format : "json" 
    label: "Delivery" # Used in the UI
    folder: "pages/Delivery" # The path to the folder where the documents are stored
    create: true # Allow users to create new documents in this collection
    slug: "{{slug}}" # Filename template, e.g., YYYY-MM-DD-title.md
    fields: # The fields for each document, usually in front matter
      - {label: "Title", name: "title", required: false , widget: "string"}
      - {label: "Top image" , name: "top-image" , required: false , widget: "image"}
      - {label: "Subtitle", name: "subtitle", required: false , widget: "markdown"}
      - {label: "Middle Title", name: "middle title", required: false , widget: "string"}
      - {label: "Middle Subtitle", name: "middle subtitle", required: false , widget: "markdown"}
      
      #---------------------------------
      - {label: "Middle Title 2", name: "middle title2", required: false , widget: "string"}
      - {label: "Screen 2 Left image", name: "l2img", required: false , widget: "image"}
      - {label: "Screen 2 Left Title 1", name: "l2title1", required: false , widget: "string"}
      - {label: "Screen 2 Left Content 1", name: "l2content1", required: false , widget: "markdown"}
      - {label: "Screen 2 Left Title 2", name: "l2title2", required: false , widget: "string"}
      - {label: "Screen 2 Left Content 2", name: "l2content2", required: false , widget: "markdown"}


      - {label: "Screen 2 Center image", name: "c2img", required: false , widget: "image"}
      - {label: "Screen 2 Center Title", name: "c2title", required: false , widget: "string"}
      - {label: "Screen 2 Center Content", name: "c2content", required: false , widget: "markdown"}


      - {label: "Screen 2 Right image", name: "r2img", required: false , widget: "image"}
      - {label: "Screen 2 Right Title 1", name: "r2title1", required: false , widget: "string"}
      - {label: "Screen 2 Right Content 2", name: "r2content1", required: false , widget: "markdown"}
      - {label: "Screen 2 Right Title 2", name: "r2title2", required: false , widget: "string"}
      - {label: "Screen 2 Right Content 2", name: "r2content2", required: false , widget: "markdown"}


      #---------------------------------

      - {label: "Top Semi circle text", name: "topsmtext", required: false , widget: "string"}
      
      #---------------------------------
      - {label: "Blue zone top text", name: "blueTopText", required: false , widget: "markdown"}
      - label: "Paragraph with image" 
        name: "paragraphs"
        widget: "list"
        summary: '{{fields.title}}'
        fields:
          - label: "paragraphs with image"
            name: "pgimg"
            widget: "object"
            fields:
              - {label: "Paragraph Image", name: "thumbnail", required: false , widget: "image"}
              - {label: "Paragraph Title" , name: "title", required: false , widget: "string"}
              - {label: "Paragraph Content" , name: "content", required: false , widget: "markdown" }
      - {label: "Blue zone bottom text", name: "blueBottomText", required: false , widget: "markdown"}

      - {label: "Botttom Left Image", name: "blimage", required: false , widget: "image"}
      - {label: "Botttom Center Image", name: "bcimage", required: false , widget: "image"}
      - {label: "Botttom Right Image", name: "brimage", required: false , widget: "image"}

      - {label: "Bottom Semi circle text", name: "bottomsmtext", required: false , widget: "string"}
  

  #----------------------------------------------------------------------------------------
  - name: "How it works" # Used in routes, e.g., /admin/collections/blog
    extension : "json"
    format : "json" 
    label: "how-it-works" # Used in the UI
    folder: "pages/HowItWorks" # The path to the folder where the documents are stored
    create: true # Allow users to create new documents in this collection
    slug: "{{slug}}" # Filename template, e.g., YYYY-MM-DD-title.md
    fields: # The fields for each document, usually in front matter
      - {label: "Title", name: "title", required: false , widget: "string"}
      - {label: "Top image" , name: "top-image" , required: false , widget: "image"}
      - {label: "Top video" , name: "top-video" , required: false , widget: "file"}
      - {label: "Subtitle", name: "subtitle", required: false , widget: "markdown"}
      - {label: "Middle Title", name: "middle title", required: false , widget: "string"}
      - {label: "Middle Subtitle", name: "middle subtitle", required: false , widget: "markdown"}
      
      #---------------------------------
      - {label: "Middle Title 2", name: "middle title2", required: false , widget: "string"}
      - {label: "Screen 2 Left image", name: "l2img", required: false , widget: "image"}
      - {label: "Screen 2 Left Title 1", name: "l2title1", required: false , widget: "string"}
      - {label: "Screen 2 Left Content 1", name: "l2content1", required: false , widget: "markdown"}
      - {label: "Screen 2 Left Title 2", name: "l2title2", required: false , widget: "string"}
      - {label: "Screen 2 Left Content 2", name: "l2content2", required: false , widget: "markdown"}


      - {label: "Screen 2 Center image", name: "c2img", required: false , widget: "image"}
      - {label: "Screen 2 Center Title", name: "c2title", required: false , widget: "string"}
      - {label: "Screen 2 Center Content", name: "c2content", required: false , widget: "markdown"}


      - {label: "Screen 2 Right image", name: "r2img", required: false , widget: "image"}
      - {label: "Screen 2 Right Title 1", name: "r2title1", required: false , widget: "string"}
      - {label: "Screen 2 Right Content 2", name: "r2content1", required: false , widget: "markdown"}
      - {label: "Screen 2 Right Title 2", name: "r2title2", required: false , widget: "string"}
      - {label: "Screen 2 Right Content 2", name: "r2content2", required: false , widget: "markdown"}


      #---------------------------------

      - {label: "Top Semi circle text", name: "topsmtext", required: false , widget: "string"}
      
      #---------------------------------
      - {label: "Blue zone top text", name: "blueTopText", required: false , widget: "markdown"}
      - label: "Paragraph with image" 
        name: "paragraphs"
        widget: "list"
        summary: '{{fields.title}}'
        fields:
          - label: "paragraphs with image"
            name: "pgimg"
            widget: "object"
            fields:
              - {label: "Paragraph Image", name: "thumbnail", required: false , widget: "image"}
              - {label: "Paragraph Title" , name: "title", required: false , widget: "string"}
              - {label: "Paragraph Content" , name: "content", required: false , widget: "markdown" }
      - {label: "Blue zone bottom text", name: "blueBottomText", required: false , widget: "markdown"}

      - {label: "Botttom Left Image", name: "blimage", required: false , widget: "image"}
      - {label: "Botttom Center Image", name: "bcimage", required: false , widget: "image"}
      - {label: "Botttom Right Image", name: "brimage", required: false , widget: "image"}

      - {label: "Bottom Semi circle text", name: "bottomsmtext", required: false , widget: "string"}
  