html, body, #wrapper {
  height: 100%;
}

#wrapper {
  overflow: scroll;
}

.large-circle {
  position: absolute;
  z-index: 2;
  width: 1300px;
  height: 1300px !important;
  top: 130px;
  left: -100px;
  border-radius: 100% !important;
  background-color: #367bdc;
}

.circle-container {
  z-index: 2;
}

.speak-to-a-specialist .circle-video {
  left: 332px;
  top: 480px;
}


.circle-text {
  color: #fff;
  text-transform: none;
  text-align: center;
}

.circle-header {
  position: absolute;   
  bottom: 920px;
  width: 700px;
  left: 300px;
}

.circle-h1 {
  font-size: 45px;
}

.circle-h2 {
  margin-bottom: 40px;
}

.round-button {
  background-color: #fff;
  border-radius: 60px;
  padding: 12px 25px;
  font-size: 17px;
  font-weight: 200;
  border: 0px solid #000;
  color: #000;
}

.get-started-button {
  position: absolute;
  z-index: 3;
  top: 545px;
  left: 288px;
}

.get-started-button button {
  padding: 16px 35px;
  font-size: 21px;
  font-weight: 300;
}

.button-link {
  margin: 0px 10px;
}

.round-button-blue {
  background-color: #357ADC;
  color: white;
}

.light-blue-bg {
  background-color: #8bbafb !important;
}

.round-button {
  background-color: #8bbafb;
  color: white;
  box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.20);
  font-weight: 600;

}

body .large-circle-button {
  bottom: 475px;
  left: 300px;
}

.circle-video {
  position: absolute;
  left: 700px;
  top: 526px;
  background-color: #fff;
  text-align: center;
}

#small-circle-container {
  right: 5px;
  position: absolute;
  width: 300px;
  height: 750px;
  top: 100px;
}

.circle {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.2);
  border-radius: 100% !important;
  color: #fff;
  background-color: #367bdc;
}

.small-circle {
  width: 290px;
  height: 290px;
  font-size: 25px;
  font-weight: 100;
}

.medium-circle {
  width: 330px;
  height: 330px;
  font-size: 25px;
  font-weight: 100;
}

.moving-circles {
  position: relative;
  width: 500px;
  margin-left: 165px;
}

.moving-circle-1 {
  width: 440px;
  height: 440px;
}

.small-circle.smallest {
  width: 150px;
  height: 150px;
  font-size: 16px;
}

.small-circle-1 {
  margin-top: 20px;
  margin-left: -120px;
}


.small-circle-2 {
  margin-top: -60px;
  margin-left: -30px;
  width: 350px;
  height: 320px;
}

.small-circle-3 {
  margin-top: -60px;
  margin-left: -30px;
}

#wrapper {
  background: white;
}

.custom-header {
  position: absolute;
  left: 0px;
  right: 0px;
  z-index: 3;
  top: -30px;
  background: white;
}

.custom-header .wpb_wrapper {
  display: flex;
  justify-content: space-between;
}

.custom-header .online-portal-link {
  width: 150px;
}

.custom-header .speak-to-a-specialist-link {
  width: 200px;
}

.custom-header .link {
  color: #000;
  font-size: 21px;
  font-weight: 100;
  margin: 0px 15px;
}

.custom-header .right {
  display: flex;
  width: 500px;
  align-items: center;
}

.custom-header .left {
  flex: 1;
  display: flex;
  justify-content: center;
}

.custom-header .center {
  flex: 1;
  display: flex;
  align-items: center;
}

.screen {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}


.top-semicircle {
  width: 100%;
  height: 300px;
  border-radius: 100%;
  margin-top: -150px;
  position: relative;
  color: white;
  margin-bottom: 70px;
}

.bottom-semicircle {
  width: 100%;
  height: 300px;
  border-radius: 100%;
  margin-bottom: -170px;
  position: absolute;
  bottom: 18px;
  color: white;
  margin-top: 70px;
}

.semicircle-blue {
  background-color: #367bdc;
}

.semicircle-white {
  background-color: white;
  color: #666;
}

.top-semicircle .circle-h2,
.top-semicircle p {
  position: absolute;
  bottom: 14px;
  color: white;
  text-align: center;
  width: 100%;
}

.top-semicircle.semicircle-white {
  background-color: white;
}

.top-semicircle.semicircle-white p {
  color: #666;
}

.content {
  width: 100%;
  margin: auto;
  margin-bottom: 100px;
  text-align: center;
  font-size: 22px;
  font-weight: 100;
  color: #2e2e2e;
}

.content.middle {
  margin-bottom: 30px;
  margin-top: 30px;
}

.centered {
  margin: auto;
  display: flex;
}

.frame-2-columns {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.screen-2 .background {
  background: url('https://www.aaadeliveryservice.com/wp-content/uploads/2022/05/usa-map-2.jpeg') no-repeat center;
  background-size: 600px;
  opacity: 0.2;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.frame-2-columns .middle {
  padding: 30px 5px 0px 5px;
  font-weight: 500;
}
.frame-2-columns .middle-subheader {
  padding: 5px 30px;
}

.column-footer {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.column {
  position: relative;
}

.column .us-map {
  display: none;
}

.column .us-map img {
  width: 400px;
  margin-top: 30px;
}

.home .screen-1 {
  height: 1000px;
}

.home .screen-2 {
  height: 1200px;
}

.home .screen-3 {
 background-color: #367bdc;
 height: 1100px;
}

.home .screen-4 {
  background-color: #fff;
  height: 700px;
  border-bottom: 0px;
}

.speak-to-a-specialist .screen-1 {
  height: 1000px;
}

.speak-to-a-specialist .screen-2 {
  height: 1100px;
}

.speak-to-a-specialist .screen-3 {
 background-color: #367bdc;
 height: 1100px;
}

.speak-to-a-specialist .screen-4 {
  background-color: #fff;
  height: 700px;
  border-bottom: 0px;
}


.what-we-offer .screen-1 {
  height: 1000px;
}

.what-we-offer .screen-2 {
  height: 1300px;
}

.what-we-offer .screen-3 {
 background-color: #367bdc;
 height: 1100px;
}

.what-we-offer .screen-4 {
  background-color: #fff;
  height: 900px;
  border-bottom: 0px;
}

.how-it-works .screen-1 {
  height: 1000px;
}

.how-it-works .screen-2 {
  height: 1300px;
}

.how-it-works .screen-3 {
 background-color: #367bdc;
 height: 1100px;
}

.how-it-works .screen-4 {
  background-color: #fff;
  height: 900px;
  border-bottom: 0px;
}

.locations .screen-1 {
  height: 1000px;
}

video {
  margin: auto;
  display: block;
}



.screen-3 .circle-h2 {
  color: #666;
}

.screen-3 .content {
  color: white;
}

ul {
  list-style-type: none;
  text-align: left;
}

.footer ul {
  padding: 0px;
}

.footer {
  background-color: #367bdc;
  color: #fff;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer .content {
  color: #fff;
  
  font-weight: 300;
}

.footer a:link, .footer a:visited, .footer a:hover, .footer a:active { color:white; }
.footer .logo {
  margin: auto;
  display: block;
  width: 250px !important;
  margin-bottom: 40px;
}

.footer .columns {
  display: flex;
  justify-content: space-evenly;
}

.footer-col-header {
  font-size: 20px;
}

.speak-to-a-specialist-form {
  right: 180px;
  top: 200px;
  position: absolute;
  width: 415px;
  z-index: 3;
}

.rounded-corners {
  border-radius: 13px;
}

.box-shadow {
  box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.20);
}

.MuiInputBase-root {
  background-color: #fff;
}

.speak-to-a-specialist ul {
  list-style-type: disc;
}

.speak-to-a-specialist h4 {
  font-size: 24px;
  font-weight: 200;
}

.locations .screen-2 {
  height: 1100px;
}

.locations ul {
  list-style-type: disc;
}

.location h4 {
  font-size: 24px;
  font-weight: 200;
}

.location.screen-2 {
  height: 1100px;
}


.bottom-text {
  width: 500px;
  margin: auto;
}

.circle-white,
.circle-white .circle-text {
  background-color: #fff;
  color: #666 !important;
}

a .round-button {
  cursor: pointer;
}

.video {
  margin: auto;
  display: block;
}

.home .moving-circles {
  margin-left: 45px;

}

a {
  text-decoration: none;
}
#quarter-circle-bottom-left{
  max-width:150vh;
    width: 90vw;
    height:90vw;
    background: #367bdc;
    border-radius: 100vw 100vw  0 0;
  position: relative;
    left: -5vw;
    bottom:-5vh;
    
}
#container-first-screen{
width:100%;
height: 75vw;
max-height:90vh;
background:white;
overflow:hidden;

}
#circle-container-home{
  position: relative;
    top:10%;
    margin:auto;
    width:50vw;

}

#reliable{
 font-size:2em;
}
#providing{
 font-size:1.3em;

}
#deliver{
 font-size:1em;
}

#home-first-button{
 display: inline-block;
 margin-right:5vw;
 

}



span.b {
 display: inline;
 margin:auto;

}

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

body{
  font-family: 'Rubik', sans-serif !important;
}

video {
  box-shadow: 1px 1px 6px -2px grey !important;
  border-radius: 10px;

}

.top-semicircle h1 {
  padding : 0 50px ;
}
.bottom-semicircle h1 {
  padding : 0 50px ;
}